@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

::-webkit-scrollbar{
    width: 5px;
    scrollbar-gutter: stable;
    scrollbar-color: transparent;
    overflow: hidden;
    background: #b3b3b3
    
}
::-webkit-scrollbar-track{
   background: #ffffff;
}
:hover ::-webkit-scrollbar-thumb{
    background: #b3b3b3;
    border-radius: 200vw; 
}



@layer base{
    :root{
        --fill-color:"#000"
    }
    .redd{
        --fill-color:"#0B5D1E"
    }
    .yelloow{
        --fill-color:"#139A43"
    }
    .bluee{
        --fill-color:"#8CFFDA"
    }
}
